.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
}

h1{
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: rgb(159, 198, 235);
}

.add-book {
    padding: 5px 15px;
    background-color: rgb(100, 119, 202);
    color: rgb(233, 233, 233);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.103);
}

.add-book:hover {
    background-color: rgb(91, 108, 185);
}

form {
    padding: 10px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.form-inputs {
    display: grid;
    grid-template-columns: 75px 1fr;
    padding-right: 10px;
}

.card {
    height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(253, 217, 170);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

#read {
    align-self: center;
    padding: 0;
    margin: 0;
}

form > * {
    padding: 5px;
}

label {
    margin-right: 10px;
}

input {
    width: 100px;
}

.form-button {
    margin-top: 10px;
}

#cancel {
    justify-self: center;
}

.card-button {
    height: 20px;
    margin-left: 10px;
    background-color: rgb(202, 146, 100);
    color: rgb(233, 233, 233);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.103);
}

.card-button:hover {
    background-color: rgb(189, 136, 93);
}
